body{
    width: 98%; 
 padding: 11px;

 
    font-family: sans-serif;
    background-color: #464b4e; 
       }
header{
    text-align: center;
    background-image:url(https://images.unsplash.com/photo-1500408698778-2afa347782f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60) ;
    padding-bottom: 20px;
    font-size:27px;
}

h1{
    color: #dee4ee; 
    font-family: cursive;
    font-style: oblique;
    
}
main h2{
    font-size: 30px;
    text-align: center;
    color: #e0e2ee;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    background-color: #070808;
    padding: 20px 0; 
    text-align: center; 
}

nav a{
    font-size: 14px;
    font-weight: bold; 
    color: #ebecec;
    text-decoration: none;
    padding: 0 40px; 
}
nav>ul>li{ 
    display: inline-block; 
    
}

main{
    width: 800px;
    float: left;

    text-decoration: none;
}
aside{
    width: 600px; 
    float: right; 
    padding-left: 20px;
    text-decoration: none;
    

}


aside h3{
    color: #faf8f8; 
    text-align: center; 
    font-family: sans-serif; 
    font-size: 24px; 
    background-color: #131110; 
    padding: 10px 0;
   
    
     
}
aside ul{
    list-style: none; 
    padding-left: 0;
   
    
    
}
aside li:nth-child(odd){
    color: white; 
    background-color: #0f0f0f; 
    
    ;
}
aside li{
    line-height: 30px;
    padding-left: 5px; 
    font-weight: bold;
    text-decoration: none;

}
img{
    width: 100%; 
}
footer{
    clear: both;
    text-align: center; 
    font-weight: bold; 
    background-color: #74797c; 
    padding: 20px 0; 
    font-size: 20px; 

}

.hero{
    position: relative; 
    text-align: center; 
}
.herotext{
    position: absolute;
    top: 110;
    bottom: 0;
    left: 0; 
    right: 0; 
  
    padding: 20px;
    color: #0c0909;
    font-weight: bold; 
    font-size: 20px;
}
.herotext h2{
    color: white; 
}
nav ul{ 
    list-style-type: none;
    padding: 0;
    margin: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; 
}
body {
  margin: 0;
}
main {
  display: block;
}
main.gallery{
    width: 100%;
}

.gallery h2 {
	text-align: center;
	color: #800d29;
	font-family: sans-serif;
}

.photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}
.gallery figure {
    margin: 0; 
    position: relative; 
}

.gallery img {
	display: block; 
}

figcaption {
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	padding: 6% 2%;
	text-align: center;
	position: absolute; 
	bottom: 0; 
	background-color: rgba(90, 96, 97, 0.67);
	width: 96%;
}

.clip1{
    clip-path: polygon(1.11% 6.3%, 100% 0%, 99.66% 45.74%, 92.5% 97.97%, 1.94% 100.35%); /* Clip the figure at different angles to remove boxy-ness */
}
.clip2 {
	clip-path: polygon(8.89% 0.37%, 100% 0%, 87.04% 43.58%, 94.72% 100.01%, -0.28% 97.76%, 10.69% 44.96%);
}
.clip3 {
	clip-path: polygon(16.95% 0.75%, 86.67% 4.63%, 98.55% 48.52%, 92.50% 96.67%, 9.16% 99.79%, 0.46% 46.47%);
}
.clip4 {
	clip-path: polygon(1.11% 6.3%, 100% 2.96%, 86.05% 45.55%, 94.72% 98.53%, 1.94% 100.35%);
}
.clip5 {
	clip-path: polygon(16.39% 2.79%, 86.67% 4.63%, 98.55% 48.52%, 89.17% 98.34%, 10% 98.68%, 0.46% 46.47%);
}
.clip6 {
	clip-path: polygon(-0.28% 8.52%, 99.45% 2.23%, 99.66% 45.74%, 92.5% 97.97%, 1.94% 100.35%, 11.78% 50.53%);
}



.contact form{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
    margin-bottom: 20px;
  
    
}

.field {
    margin: 10px 5px;
}
.field label{
    display: inline-block;
    width: 350px;
    vertical-align: top;
}
.field input{
    width: 200px;
}
.field textarea{
    width: 200px;
}
.field select{
    width: 208px;
}
.contact fieldset{
    border: 2px solid #fafafa;
}
.contact fieldset legend{
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
}
.submit{
    border: 2px solid #f7f4f5;
    padding: 20px;
    margin-top: 9px;
}
.submit div{
    margin: 0 0 10px 0;
}
.submit button{
    border: 2px solid #800d29;
    background-color: #800d29;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}
.contact h2{
    padding-left: 300px;
}


@media only screen and (max-width: 767px) {
    body {
        padding: 2%; 
        width: 94%; 
    }
    nav a{
        padding: 0 20px;
    }
    main{
        width: 100%; 
    }
    aside{
        width: 100%;
    }
    .shopbutton{
        font-size: 18px;
        padding: 5px; 
    }
    .herotext h2{
        margin: 5px 0;
    }
}